This is used to test how many people at each occupation (earning more or less that 50K) are in each education group

**READ IN EDITING MODE BECAUSE I HAVE NO IDEA HOW TO FORMAT IT**

                <=50K   >50K 	Exec-managerial
less: 		    82 	    26 	    108
HSgrad: 	    546 	261 	807
Somecollege: 	732 	442 	1174
Bachelors: 	    590 	779 	1369
masters: 	    148 	460 	608


                <=50K 	 >50K 	 Prof-specialty
less: 		    50 	     7 	     57
HSgrad: 	    173 	 60 	 233
Somecollege: 	525 	 213 	 738
Bachelors: 	    916 	 579 	 1495
masters: 	    617 	 1000 	 1617